*,::before,::after{
    box-sizing: border-box;
    
}
.header {
    border: 1px solid #003cff;
    height: 5rem;
    background-color: #003cff;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.flex {
    display: flex;
}
.item-center {
    align-items: center;
}
.justify-content {
    justify-content: space-between;
}

.pad-t-b {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.pad-r-l {
    padding-left: 1rem;
    padding-right: 1rem;
}
.input-border {
    border: none;
}
.radius {
    border-radius: 20px;
}